
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
}


h1 {
    color: #2c3e50;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
}


p {
    font-size: 16px;
    margin-bottom: 8px;
    color: #555;
}


.section-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto; 
    max-width: 800px;
    border-radius: 5px; 
}


h2, h3 {
    color: #34495e;
    font-family: 'Verdana', sans-serif;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}


#student-name {
    color: #e67e22; 
    font-weight: 900;
    font-size: 1.1em;
}


.course-list li {
    list-style-type: square;
    color: #0056b3; 
    margin-left: 20px;
    margin-bottom: 5px;
}


.hobby-list li {
    list-style-type: circle;
    color: #27ae60; 
    margin-left: 20px;
    margin-bottom: 5px;
    font-style: italic;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 40px;
}

footer p {
    color: white; 
}